
/**
 * Use border-box to inlude padding and border in item width.
 */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100%;
}

/* .site-header {
    background-color: #dbfcff;
    float: left;
    width: 100%;
    padding: 15px;
    height: 150px;
    border-bottom: solid 3px #ce7b91;
} */

/**
 * Style the navbar
 */
.navbar {
    border-bottom: 1px solid #a9a9a9;
}

/* .navbar .selected,
aside .selected {
    font-weight: bold;
    color: #000;
} */

.logo-div {
    width: 25%;
    display: inline;
    float: left;
}

a,
a:hover {
    color: #e6467d;
}

.navbar-light .navbar-nav .nav-link {
    color: #e6467d;
}

.btn-primary,
.btn-primary:active,
.btn-primary:hover {
    background-color: #e6467d;
    border-color: #e6467d;
}

/**
 * Style for page controller multipage
 */
.wrap-main {
    background-color: #f8f9fa;
    overflow: auto;
    border: 1px solid #f8f9fa;
    min-height: 85vh;
}

main {
    width: 80%;
    float: left;
    padding-top: 30px;
    padding-left: 30px;
    padding-left: 10em;
    padding-right: 10em;

    /* background-color: hsl(133, 100%, 86%); */

    /* border: 10px solid hsl(133, 100%, 76%); */
}

.art-post {
    border-top: solid 1px #a9a9a9;
    margin-bottom: 30px;
    padding-top: 1em;
}

.art-post:first-child {
    border-top: none;
}

.post a,
.post a:hover,
.objectListing a,
.objectListing:first-child {
    text-decoration: none;
    color: inherit;
}

.post button {
    margin-top: 25px;
}

.objArt,
.objArt:first-child {
    width: 50%;
    min-height: 30em;
    border-top: solid 1px #a9a9a9;
    float: left;
}

aside {
    padding-top: 30px;
    width: 20%;
    float: left;

    /* background-color: hsl(206, 100%, 86%); */

    /* border: 10px solid hsl(206, 100%, 76%); */
}

.sitefooter {
    padding: 1%;
    float: clear-both;
    text-align: center;

    /* border: 10px solid #ffdfba; */
    background-color: #f0f0f0;
    color: #000;
    border-top: solid 1px #a9a9a9;
}

h1 {
    /* border-bottom: 1px solid #999; */
}

.objectListing {
    width: 50%;
    float: left;
    min-height: 370px;
}
